{
  "extends": "airbnb",
  "rules": {
    "semi": [ 2, "never"],
    "camelcase": [ 0, "always" ],
    "consistent-return": 1,
    "comma-dangle": [ 1, "never" ],
    "no-use-before-define": [ 1, { "functions": true, "classes": true } ]
  }
}
